{% load static %}


<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'lib/style.css' %}" />


</head>
<body>
    <p>Logged in as: {{ request.user.username }} (<a href={% url 'lib:logout' %}>Logout</a>)
      | <a href= {% url 'lib:books' %}>Books</a>
      | <a href= {% url 'lib:genres' %}>Genres</a>
      | <a href= {% url 'lib:input' %}>Add Book</a>
      | <a href= {% url 'lib:profile' request.user.username %}>My books</a>
    </p>

    {% block content %}{% endblock %}
</body>
</html>
